

@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
  }
.page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .dark-mode .page-loading {
        background-color: #121519;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #6f788b;
      }
      .dark-mode .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        background-color: #03565a; 
        border-radius: 50%;
        opacity: 0;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      .dark-mode .page-spinner {
        background-color: rgba(255,255,255,.25);
      }
      @-webkit-keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      @keyframes spinner {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }

      body::-webkit-scrollbar {
        width: 6px;
        height: 0px;
        transition: .3s background;
      }
      
      body::-webkit-scrollbar-thumb {
        background: #03565a;
      }
      
      body:hover::-webkit-scrollbar-thumb {
        background: #03565a;
      }


header {
  box-shadow: 0 2px 0 rgba(0,0,0,.1);
}
.nav-link::after {
  content: "/";
  position: absolute;
  top: 0.75rem;
  right: 0;
}
li.nav-item:last-child .nav-link::after {
  content: unset;
  position: unset;
}
.navigation {
  background-color: #F8F7F3;
  margin-bottom: -3px;
}
.navigation .nav-link{
  font-family: "Lato-Regular";
  text-transform: uppercase;
  font-size: 16px;
}

.navigation .nav-link::after{
  content: unset;
  position: unset;
}



.floreo-service .col-md-4{
  border-right: 1px solid #ebebeb;
}
.floreo-service .col-md-4:last-child{
  border-right: unset;
}

/*footer css start*/
.footer{
  background-color: #ECEAE4;
  padding: 20px 0;
}
.footer-links ul li{
  position: relative;
}
.footer-links ul li {
  border-right: 1px solid #5e5e5e;
  padding: 0 5px;
  font-size: 12px;
  white-space: nowrap;
}
.footer-links ul li a{
  text-decoration: underline;
}
.footer-links ul li:last-child{
  border-right: unset;
}
.footer p{
  font-size: 12px;
}
.social-icons a{
  background-color: #999999;
}
.social-icons svg {
  font-size: 14px;
  width: 1.5em;
}
/*footer css end*/

.table .btn-primay{
  font-family: "Lato-Regular";
}

.text-lato{
  font-family: "Lato-Regular";
}

.swiper .bi{
  color: rgba(0,0,0,0.2) !important;
}

.swiper .bi-chevron-left::before , .swiper .bi-chevron-right::before{
  font-weight: bold !important;
}

.floreo-video{
  width: 80%;
  margin: 0 auto;
}

.testimonial-border {
  background: #efefef;
  height: 3px;
  width: 175px;
  margin: 15px auto;
}

.phlebotomy-border {
  background: #03565a;
  height: 1px;
  margin: 2px auto;
  width: 52%;
}

.floreo-border{
  padding: .55rem;
  border: 1px solid #ebebeb;
}

.about-border:after {
  content: '';
  position: absolute;
  background: #ddd;
  top: 9px;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: -1;
}

.swiper-slide.bg-light{
  background-color: #fff !important;
}

/*gallery-testimonial css start*/
.gallery-testimonial {
  width: 100%;
  /* max-width: 620px; */
  margin-bottom: 40px;
}
.gallery-slider {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
.gallery-slider .swiper-slide {
  width: auto;
}
.gallery-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-thumbs {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.gallery-thumbs .swiper-slide {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  opacity: 0.6;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.gallery-thumbs .swiper-slide img {
  width: auto;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}
/*gallery-testimonial css end*/

.banner button{
  display: none;
}
.swiper-img{
  /* width: 1920px; */
  height: 580px;
}
.swiper-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-1 {
  right: -6%;
}

.slide-1 h1{
  text-transform: uppercase;
}
.slide-1 h1 , .slide-1 p{
  animation: slideLeft 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.slide-1 .border-12 {
  border: 12px solid #fff;
  
}

.slide-1 .width{
  width:47%;
}
.slide-1 p{
  font-size: 21px;
}

.bg-swipe {
  background-color: rgb(242, 219, 213);
  
}

.slide-2 {
  left: 29%;
  width: 23%;
}
.slide-2 p{
  font-size: 21px;
}
.swiper-img-ocn{
  width: 205px;
  height: 130px;
}

.slide-2 h1,.slide-2 p{
  animation: 2s slide-right;
}

.product-img{
  width: 32px;
  height: 32px;
}
.product-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  } 
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slider-bg{
  background-color: rgb(71,129,132);
}

.phlebotomy-training{
  margin: 0 auto;
  width: 67%;
}

@media (max-width:991px){
  .navigation{
    background: unset;
  }
  .nav-link::after{
    content: unset;
    position: unset;
  }
  header{
    box-shadow: unset;
  }
  .navigation .nav-link{
    font-family: "Raleway-Regular";
    font-size: 13px;
  }
  .navigation .navbar-nav{
      padding-top: 0;
      padding-bottom: .75rem;
  }
  .navbar-nav{
    padding-bottom: 0;
  }
  .slider-bg p{
    font-size: 16px !important;
  }
  #navbarNav .nav-item{
    border-bottom: 1px solid #e3e9ef;
  }
  #navbarNav .nav-item:last-child{
    border-bottom: unset;
  }
  #navbarNav{
    margin-bottom: 1rem;
  }
  #navbarNav .nav-item:nth-child(4){
    border-bottom: 1px solid #e3e9ef;
  }
}

@media (max-width:767px){
    .gallery-item img{
       width: 100%;
    }
    .breadcrumb-item {
      font-size: 14px;
  }
  .gallery-item{
    margin-bottom: 1rem;
  }
  .product-detail h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .slider-bg p {
    font-size: 14px !important;
  }
  .phlebotomy-training{
    width: 100%;
  }
}